* {
    /* text-decoration: none; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, body {
    width: 1024px;
    margin: auto;
}

header{
    background-image: url(./lab2/TH_B2_Data/header.png);
    height: 100px;
}

#hi1{
    height: 100px;
    position: absolute;
    top: -30px;
    animation: hi1 3s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hi1 {
    from {left: 80%;}
    to {left: 30%;}
}

#hi2{
    height: 70px;
    position: absolute;
    top: -30px;
    animation: hi2 3s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hi2 {
    from {left: 80%;}
    to {left: 45%;}
}

#hi3{
    height: 80px;
    position: absolute;
    top: 0px;
    animation: hi3 3s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hi3 {
    from {left: 80%;}
    to {left: 63%;}
}

#logo{
    height: 36px;
}

nav {
    position: relative;
    top: 20px;
}

nav a {
    float: left;
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    text-align: center;
    color: #ed4190;
    line-height: 17px;
    background-color: #ffff80;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background-color: #ed4190;
}

header div {
    padding-top: 3px;
    float: right;
}

.searchBtn {
    padding: 4px;
    min-width: 30px;
    color: #fff;
    background-color: #cddc39;
}

.cartBtn {
    padding: 4px;
    min-width: 30px;
    color: #ed4190;
    background-color: #cddc39;
}

.cartBtn:hover,
.searchBtn:hover {
    cursor: pointer;
}

footer {
    top: 2px;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
}

footer i {
    color: #ed4190;
    text-decoration: none;
}

#top {
    position: fixed;
    right: 10px;
    bottom: 5px;
    z-index: 100;
    padding: 10px;
}

#top img {
    width: 50px;
}

h1 {
    margin: 12px 0px 16px;
    color: #F9086D;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', san-serif;
    font-weight: 300;
    line-height: 34px;
    break-before: column;
}

h2 {
    margin: 5px 0 10px;
    color: #F9086D;
    font-size: 24px;
    font-family: 'Open Sans', san-serif;
    font-weight: 300;
    line-height: 28px;
    break-before: column;
}

h3 {
    color: #F9086D;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans', san-serif;
    font-weight: 300;
    line-height: 24px;
    break-before: column;
}

article {
    column-count: 2;
}


/* Trang don hang */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    min-width: 70px;
}

table {
    margin: auto;
    min-width: 90%;
}

.cancelCartBtn {
    background-color: #cddc39;
    color: #F9086D;
    padding: 4px;
    border: none;
}

.cancelCartBtn:hover {
    cursor: pointer;
}


